<!DOCTYPE html>

{% extends './admin_base.html' %}
{% load static %}


{% block title %} Add Blog {% endblock %}
{% block sidebar %}

<div class="toggle">
    <button id="sidebarCollapse"><i class="fa fa-bars"></i></button>
</div>
<div class="dashboard col-md-2 d3 table-outer d-md-block sidebar" style="padding-left: 0; padding-right: 0;">

    <table class="table active" id="sidebar">
        <tbody class="barrow">
            <tr class="datarow" style="text-align: center;">
                <td><i class="fa-solid fa-gauge-high" style="color: #425743;"></i></td>
                <td><a href="{% url 'admin_dashboard' %}" style="color: #425743;text-decoration: none;">Dashboard</a></td>
            </tr>
            <tr class="datarow" style="text-align: center;">
                <td><i class="fa-solid fa-screwdriver-wrench" style="color: #425743;"></i></td>
                <td><a href="{% url 'service_manage'  %}" style="color:#425743;text-decoration: none;">Service Management</a></td>
            </tr>
            <tr class="datarow" style="text-align: center;">
                <td><i class="fas fa-users" style="color: #425743;"></i></td>
                <td><a href="{% url 'category_manage' %}" style="color: #425743;text-decoration: none;">Category Management</a></td>
            </tr>
            <tr class="datarow" style="text-align: center;">
                <td><i class="fa-solid fa-passport" style="color: #425743;"></i></td>
                <td><a href="{% url 'portfolio_manage' %}" style="color: #425743;text-decoration: none;">Portfolio Management</a></td>
            </tr>
            <tr class="datarow" style="text-align: center;">
                <td><i class="fas fa-chart-bar" style="color: #425743;"></i></td>
                <td><a href="{% url 'blog_manage' %}" style="color:#425743;text-decoration: none;">Blog Management</a></td>
            </tr>
            <tr class="datarow" style="text-align: center;">
                <td><i class="fa-brands fa-bandcamp" style="color: #425743;"></i></td>
                <td><a href="{% url 'brand_manage' %}" style="color: #425743;text-decoration: none;">Brand Management</a></td>
            </tr>
            <tr class="datarow" style="text-align: center;">
                <td><i class="fa-regular fa-question" style="color: #425743;"></i></td>
                <td><a href="{% url 'faq_manage' %}" style="color: #425743;text-decoration: none;">FAQ Management</a></td>
            </tr>
            <tr class="datarow" style="text-align: center;">
                <td><i class="fas fa-lock" style="color: #425743;"></i></td>
                <td><a href="{% url 'change_password' %}" style="color: #425743;text-decoration: none;">Change Password</a></td>
            </tr>
            <tr class="datarow" style="text-align: center;">
                <td><i class="fas fa-cogs" style="color: #425743;"></i></td>
                <td>
                    <a href="#" id="moreLink" style="color: #425743;text-decoration: none;">Static Content <i class="fas fa-caret-down"></i></a>
                    <div id="dropdownContent" class="dropdown-content">
                        <a href="{% url 'termscondition' %}" style="color:#425743;text-decoration: none;">Terms and Condition Management</a>
                        <a href="{% url 'privacypolicy' %}" style="color:#425743;text-decoration: none;">Privacy and Policy Management</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}

{% block heading %}<h2>Add New Blog</h2>{% endblock %}
{% block main_content %}
<div class="d6">

    <form action="" method="POST" class="formbox" id="add_blog">
        <label for="blogTitle">Blog Title:</label>
        <input type="text" id="blogTitle" name="portfolioTitle" class="inputbox" placeholder="Enter Blog Title" required><br><br>

        <label for="blogImage">Blog Image URL:</label>
        <input type="file" id="blogImage" name="blogImage" class="inputbox" required><br><br>

        <label for="blogDescription">Blog Descrpition:</label>
        <textarea id="blogDescription" name="blogDescription" rows="2" cols="52" class="inputbox" placeholder="Enter Blog Descrpition" required></textarea><br><br>

        <label for="categoryDropdown">Select Category:</label>
        <select id="categoryDropdown" name="categoryDropdown" class="inputbox" required>
            
        </select><br><br>

        <label for="blogAuthor">Blog Author:</label>
        <input type="text" id="blogAuthor" class="inputbox" name="blogAuthor" placeholder="Enter Blog Author" required><br><br>
        <div style="text-align: center;">
            <input type="submit" class="btn" value="Create New" id="formbtn">
        </div>
</div>
{% endblock %}    

{% block script %}<script src="{% static 'js/admin_panel/addblog.js' %}"></script>{% endblock %}
