<!DOCTYPE html>

{% extends './admin_base.html' %}
{% load static %}


{% block title %} Change Password - otp Verify {% endblock %}
{% block sidebar %}

<div class="toggle">
    <button id="sidebarCollapse"><i class="fa fa-bars"></i></button>
</div>
<div class="dashboard col-md-2 d3 table-outer d-md-block sidebar" style="padding-left: 0; padding-right: 0;">

    <table class="table active" id="sidebar">
        <tbody class="barrow">
            <tr class="datarow" style="text-align: center;">
                <td><i class="fa-solid fa-gauge-high" style="color: #425743;"></i></td>
                <td><a href="{% url 'admin_dashboard' %}" style="color: #425743;text-decoration: none;">Dashboard</a></td>
            </tr>
            <tr class="datarow" style="text-align: center;">
                <td><i class="fa-solid fa-screwdriver-wrench" style="color: #425743;"></i></td>
                <td><a href="{% url 'service_manage'  %}" style="color:#425743;text-decoration: none;">Service Management</a></td>
            </tr>
            <tr class="datarow" style="text-align: center;">
                <td><i class="fas fa-users" style="color: #425743;"></i></td>
                <td><a href="{% url 'category_manage' %}" style="color: #425743;text-decoration: none;">Category Management</a></td>
            </tr>
            <tr class="datarow" style="text-align: center;">
                <td><i class="fa-solid fa-passport" style="color: #425743;"></i></td>
                <td><a href="{% url 'portfolio_manage' %}" style="color: #425743;text-decoration: none;">Portfolio Management</a></td>
            </tr>
            <tr class="datarow" style="text-align: center;">
                <td><i class="fas fa-chart-bar" style="color: #425743;"></i></td>
                <td><a href="{% url 'blog_manage' %}" style="color:#425743;text-decoration: none;">Blog Management</a></td>
            </tr>
            <tr class="datarow" style="text-align: center;">
                <td><i class="fa-brands fa-bandcamp" style="color: #425743;"></i></td>
                <td><a href="{% url 'brand_manage' %}" style="color: #425743;text-decoration: none;">Brand Management</a></td>
            </tr>
            <tr class="datarow" style="text-align: center;">
                <td><i class="fa-regular fa-question" style="color: #425743;"></i></td>
                <td><a href="{% url 'faq_manage' %}" style="color: #425743;text-decoration: none;">FAQ Management</a></td>
            </tr>
            <tr class="datarow" style="text-align: center;">
                <td><i class="fas fa-lock" style="color: #425743;"></i></i></td>
                <td><a href="{% url 'change_password' %}" style="color: #425743;text-decoration: none;">Change Password</a></td>
            </tr>
            <tr class="datarow" style="text-align: center;">
                <td><i class="fas fa-cogs" style="color: #425743;"></i></td>
                <td>
                    <a href="#" id="moreLink" style="color: #425743;text-decoration: none;">Static Content <i class="fas fa-caret-down"></i></a>
                    <div id="dropdownContent" class="dropdown-content">
                        <a href="{% url 'termscondition' %}" style="color:#425743;text-decoration: none;">Terms and Condition Management</a>
                        <a href="{% url 'privacypolicy' %}" style="color:#425743;text-decoration: none;">Privacy and Policy Management</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}

{% block heading %}
<h2>Change Password</h2>
{% endblock %}
{% block main_content %}
<div class="row ">

    <div class="main-content">
    <span>Please enter the one time password you have received on your registered email address. Please note that the password is valid for 2 minutes </span> <br><br>
    
</div>
</div>
<div class="form-container">
<form enctype="multipart/form-data" name="newForm" action="password_changed.html" novalidate onsubmit="return checkOtp(event)">
    <div class="text-center"> <!-- Center the content -->
        <div class="mb-3"> <!-- Apply margin at the bottom for spacing -->
            <input type="number" name="otp" id="otp" placeholder="Enter one-time password" class="form-control" 
            style="width: 30%;border-color:transparent;background-color: #e6f7e3;padding: 5px; margin: 0 auto;color:#425743;" >
            <div id="otpError" class="text-danger"></div>
            <div id="countdown" style="text-align: center;">
                <span id="countdownText" style="color: #fff;"><span id="minutes" >02</span>:<span id="seconds">00</span></span>
                <span id="resendOTP" style="display: none;" ><a href="#" onclick="resendOTPFunction()" style="color: #425743;text-decoration: underline;">Resend OTP</a></span>
            </div>
        </div>
        <div>
            <button type="submit" class="btn " value="submit" style="text-align:center;background-color: #B0D9B1;color: #425743;">Verify</button>
        </div>
    </div>
</form></div>
{% endblock %}
{% block script %}<script src="{% static 'js/admin_panel/change_script.js' %}"></script>{% endblock %}